.navbar{
    
    
    margin-top: 20px;
    padding-left: 5px;
}

.container-lg{
    background-color: lightgrey;
    margin-left: 100px;
    margin-right: 100px;
    height: 500px;
    width:87%
}

.navbar-brand{
    background-color:mediumaquamarine;
    height: 60px;
    width: 150px;
    font-size: 40px;
}

#outer_contain{
    
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
    background-color:gray;
    
}

h3 {
    font-size: 40px;
    margin-left: 80px;
    color: lightcoral;
}
p {
    margin-left: 80px;
}

#city_table {
    width: 85%;
    height: 700px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
    background-color: rgb(248, 252, 252);
    
}

#city_tab_html {
    border:0px
    
}

th {
    text-align: left;
    background-color:lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    
}
tr {
    font-size: 10;
    height: 0.5px;
}
td {
    padding:10px;
}